USER_DATABASE_URL="postgresql://teamflow:teamflow@localhost:5434/teamflow_user?schema=public"

PROJECT_DATABASE_URL="postgresql://teamflow:teamflow@localhost:5434/teamflow_project?schema=public"

TASK_DATABASE_URL="postgresql://teamflow:teamflow@localhost:5434/teamflow_task?schema=public"